/* Banner */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f9f9f9, #f0e5f5); /* Màu nền mới */
  overflow-x: hidden;
  overflow-y: auto;
  color: #4a4a4a; /* Màu chữ mới */
}
  /* background-color:#ff99cc; */


.stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: white;
  box-shadow: 2vw 5vh 2px white, 10vw 8vh 2px white, 15vw 15vh 1px white,
    22vw 22vh 1px white, 28vw 12vh 2px white, 32vw 32vh 1px white,
    38vw 18vh 2px white, 42vw 35vh 1px white, 48vw 25vh 2px white,
    53vw 42vh 1px white, 58vw 15vh 2px white, 63vw 38vh 1px white,
    68vw 28vh 2px white, 73vw 45vh 1px white, 78vw 32vh 2px white,
    83vw 48vh 1px white, 88vw 20vh 2px white, 93vw 52vh 1px white,
    98vw 35vh 2px white, 5vw 60vh 1px white, 12vw 65vh 2px white,
    18vw 72vh 1px white, 25vw 78vh 2px white, 30vw 85vh 1px white,
    35vw 68vh 2px white, 40vw 82vh 1px white, 45vw 92vh 2px white,
    50vw 75vh 1px white, 55vw 88vh 2px white, 60vw 95vh 1px white,
    65vw 72vh 2px white, 70vw 85vh 1px white, 75vw 78vh 2px white,
    80vw 92vh 1px white, 85vw 82vh 2px white, 90vw 88vh 1px white,
    95vw 75vh 2px white;
  animation: twinkle 8s infinite linear;
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  opacity: 0;
}

/* Optimize resources */

.shooting-star.active {
  animation: shoot 2s ease-in 3;
  opacity: 1;
}

.shooting-star:nth-child(1) {
  top: 20%;
  left: -100px;
  animation-delay: 0s;
}

.shooting-star:nth-child(2) {
  top: 35%;
  left: -100px;
  animation-delay: 1s;
}

.shooting-star:nth-child(3) {
  top: 50%;
  left: -100px;
  animation-delay: 2s;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: translateX(120vw) translateY(50vh) rotate(25deg);
    opacity: 0;
  }
}

.stars::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  box-shadow: 8vw 12vh 2px white, 16vw 18vh 1px white, 24vw 25vh 2px white,
    33vw 15vh 1px white, 41vw 28vh 2px white, 49vw 35vh 1px white,
    57vw 22vh 2px white, 65vw 42vh 1px white, 73vw 28vh 2px white,
    81vw 48vh 1px white, 89vw 32vh 2px white, 97vw 45vh 1px white,
    3vw 68vh 2px white, 11vw 75vh 1px white, 19vw 82vh 2px white,
    27vw 88vh 1px white, 35vw 72vh 2px white, 43vw 85vh 1px white,
    51vw 92vh 2px white, 59vw 78vh 1px white;
  animation: twinkle 6s infinite linear reverse;
}

.shooting-star,
.stars {
  will-change: transform, opacity;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #ffccf2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ff6f61;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #ff6f61;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: #ff99cc;
}

/* Banner page content */

.home {
  position: relative;
  width: 100%;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
/* left content */
.home-content {
  max-width: 600px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700px;
  color: black;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 20px;
}
.home-content h3 span {
  color: #ff6f61;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700px;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  color: black;
}
.home-content p {
  font-size: 20px;
  padding-bottom: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  color: black;
}
/* left button */
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #ff83b0;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px #ff83b0, 0 0 25px #ff99cc;
}
.btn-box:hover {
  box-shadow: 0 0 5px #ff83b0, 0 0 25px #ff83b0, 0 0 50px #ff83b0, 0 0 100px #ff83b0,
    0 0 200px #ff83b0;
}
/* moon animation right */
.container-moon {
  height: 370px;
  width: 370px;
  /* border: 1px solid #fff; */
  display: flex;
  position: relative;
}
.moon {
  background-color: #ff83b0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.crater {
  background-color: #ff83b0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
}
.crater:before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #ff83b0;
  top: 2px;
  left: 7px;
}
.crater1 {
  top: 27px;
  left: 90px;
  transform: scale(0.9);
}
.crater2 {
  bottom: 15px;
  left: 61px;
  transform: scale(0.6);
}
.crater3 {
  left: 15px;
  transform: scale(0.75);
}
.crater4 {
  left: 107px;
  top: 32px;
  transform: scale(1.18);
}
.crater5 {
  left: 33px;
  bottom: 4px;
  transform: scale(0.65);
}
.shadow {
  height: 190px;
  width: 190px;
  box-shadow: 21px 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: relative;
  bottom: 157.5px;
  right: 46px;
}
.eye {
  background-color: #161616;
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
}
.eye-l {
  bottom: 255px;
  left: 59px;
}
.eye-r {
  bottom: 267px;
  left: 101px;
}
.mouth {
  height: 5px;
  width: 10px;
  border: 3px solid #161616;
  position: relative;
  bottom: 262px;
  left: 79px;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.blush {
  background-color: #ff83b0;
  height: 7.5px;
  width: 7.5px;
  position: relative;
  border-radius: 50%;
}
.blush1 {
  bottom: 273px;
  left: 50px;
}
.blush2 {
  bottom: 281px;
  left: 115px;
}
.orbit {
  height: 150px;
  width: 150px;
  /* border: 1px solid #fff; */
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 10s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.rocket {
  background-color: #fafcf7;
  height: 50px;
  width: 25px;
  border-radius: 50% 50% 0 0;
  position: relative;
  left: 62px;
  top: 70px;
}
.rocket:before {
  content: "";
  position: absolute;
  background-color: #ff83b0;
  height: 20px;
  width: 55px;
  border-radius: 50% 50% 0 0;
  z-index: -1;
  right: -15px;
  bottom: 0;
}
.rocket:after {
  content: "";
  position: absolute;
  background-color: #ff83b0;
  height: 4px;
  width: 15px;
  border-radius: 0 0 2px 2px;
  bottom: -4px;
  left: 4.3px;
}

.window {
  background-color: #45153a;
  height: 10px;
  width: 10px;
  border: 2px solid #ecb8dd;
  border-radius: 50%;
  position: relative;
  top: 17px;
  left: 5px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  padding: 70px 10% 0;
}
.about-img img {
  max-width: 300px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  animation: slideTop 1s ease forwards;
}
.about-text h2 {
  font-size: 60px;
  margin-bottom: 1rem;
  animation: slideLeft 1s ease forwards;
}
.about-text h2 span {
  color: #ff6f61;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.infor-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 20px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.infor-list li {
  margin-bottom: 10px;
}
.about-text .btn-box {
  animation: slideTop 1s ease forwards;
  animation-delay: 0.4s;
}

/* Career goals and interest */

.goals-and-interests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 70px 10% 0;
}
.image img {
  max-width: 600px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  animation: slideTop 1s ease forwards;
}
.goals-and-interests .content h2 {
  font-size: 60px;
  color: #ff99cc;
  margin-bottom: 1rem;
  animation: slideLeft 1s ease forwards;
}

.goals-and-interests .content p {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: justify;
  animation: slideRight 1s ease forwards;
}
.infor-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 20px;
}
.infor-list li {
  margin-bottom: 10px;
}

/* Language */

.language {
  color:black;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.language .container .sub-title {
  text-align: center;
  font-size: 50px;
  padding: 50px;
  animation: slideBottom 1s ease forwards;
}
.sub-title span {
  color: #ff99cc;
}
.language .container {
  padding: 80px;
}
.language-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.language-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5, transform 0.5;
  box-shadow: 1px 1px 20px #900165f7, 1px 1px 40px #900165f7;
}
.language-list div span {
  font-size: 50px;
  margin-bottom: 30px;
}
.language-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.language-list div p {
  font-size: 20px;
}
.language-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
/* button "learn more" */
.read {
  display: inline-block;
  padding: 12px 28px;
  background-color: #ff99cc;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #ff99cc, 0 0 25px #ff99cc;
}
.read:hover {
  box-shadow: 0 0 5px #ff83b0, 0 0 25px #ff83b0, 0 0 50px #ff83b0, 0 0 100px #ff83b0,
    0 0 200px #ff83b0;
}
.language-list div:hover {
  transform: translateY(-10px);
}

/* Skills */

.container-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills .sub-title {
  text-align: center;
  font-size: 50px;
  color: #ff6f61;
  padding: 50px;
  animation: slideBottom 1s ease forwards;
}

/* Technical skills */

.skills section {
  display: flex;
  flex-wrap: wrap;
}
.skills section .container {
  width: 600px;
  height: 500px;
  padding: 75px, 90px;
  margin-left: 120px;
}
.heading {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

/* Technical bars  */

.bar {
  font-size: 23px;
}
.Technical-bars .bar {
  margin: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

/* Display text and technical bar animation */

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #ff83b0;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  width: 70%;
}
.progress-line.css span {
  width: 70%;
}
.progress-line.js span {
  width: 50%;
}
.progress-line.php span {
  width: 30%;
}
.progress-line span::after {
  position: absolute;
  padding: 1px 1px;
  background-color: #3b3b3b;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "70%";
}
.progress-line.css span::after {
  content: "70%";
}
.progress-line.js span::after {
  content: "50%";
}
.progress-line.php span::after {
  content: "30%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #3b3b3b;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

/* Professional skills */

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 160px;
  width: 120px;
}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stroke: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: #ff83b0;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 250;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 155;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 155;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5 1s linear forwards;
  opacity: 0;
}
.progress-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

/* Certificates & Awards */
.certificates-awards {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.certificates-awards .container .sub-title {
  text-align: center;
  font-size: 50px;
  padding: 50px;
  animation: slideBottom 1s ease forwards;
}
.certificates-awards .container .sub-title span {
  color: #ff99cc;
}
.certificates-awards .container {
  padding: 80px;
}
.certificates-awards .container .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.certificates-awards .container .content {
  background-color: #f3bbe2;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5, transform 0.5;
  box-shadow: 1px 1px 20px #900171f7, 1px 1px 40px #900171f7;
}
.contents .content i {
  font-size: 50px;
}
.contents .content h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contents .content p {
  font-size: 20px;
}
.contents .content:hover {
  transform: translateY(-10px);
}

/* Projects */

#projects .sub-title {
  text-align: center;
  font-size: 50px;
  padding: 50px;
  animation: slideBottom 1s ease forwards;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px 35px 40px;
  overflow: hidden;
}
.project-list .project {
  list-style: none;
}
.project-list .project .project-link {
  user-select: none;
  display: block;
  background-color: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}
.project-list .project .project-link:active {
  cursor: grabbing;
}
.project-list .project .project-link:hover {
  border-color: #f053ce;
}
.project-list .project .project-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}
.project-list .project-link .badge {
  color: #f053ce;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #dde4ff;
  width: fit-content;
  border-radius: 50px;
}
.project-list .project-link .badge.developer {
  color: #b22485;
  background: #f7dff5;
}
.project-list .project-link .badge.frontend {
  color: #b25a2b;
  background: #ffe3d2;
}
.project-list .project-link .badge.backend {
  color: #205c20;
  background: #d6f8d6;
}
.project-list .project-link .project-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}
.project-list .project-link .card-button {
  height: 35px;
  width: 35px;
  color: #f053ce;
  border-radius: 50%;
  margin: 30px 0 5px;
  background-color: none;
  cursor: pointer;
  border: 2px solid #f053ce;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.project-list .project-link:hover .card-button {
  color: #fff;
  background: #f053ce;
}
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #f053ce;
}
.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.card-wrapper .swipper-slide-button {
  color: #f053ce;
  margin-top: -35px;
}
@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

/* Contact */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
  animation: slideBottom 1s ease forwards;
}
.contact-text h2 span {
  color: #ff99cc;
}
.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li {
  display: inline-block;
  color: #ff99cc;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #ff99cc;
}
.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ff99cc;
  border-radius: 50%;
  font-size: 20px;
  color: #ff99cc;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.contact-icons i:hover {
  background-color: #ff99cc;
  color: #000;
  box-shadow: 0 0 20px #ff99cc;
}
.contact-icons a {
  text-decoration: none;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 10px;
  background: #f3f3f5;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 12px 28px;
  background-color: #ff99cc;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #ff99cc, 0 0 25px #ff83b0;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px #ff83b0, 0 0 25px #ff83b0, 0 0 50px #ff83b0, 0 0 100px #ff83b0,
    0 0 200px #ff83b0;
}

/* Footer */
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background:(#5C4B8A);
  margin-top: 70px;
}
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
.top i {
  color: #000;
  background: #ff99cc;
  padding: 10px;
  border-radius: 0.5rem;
}

/*  IntersectionObserver */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

/* 3d motion part */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*Hiệu ứng hoa đào rơi */
.sakura-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.sakura {
  position: absolute;
  top: -50px;
  animation: fall linear infinite;
  opacity: 0.9;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
